@model IEnumerable<Dark.Models.Log>

@{
    ViewData["Title"] = "Logs";
}

<h2>Logs</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    @using (Html.BeginForm("Index", "Search", FormMethod.Get, new { @class = "form" }))
    {
        <div class="col-md-2">
            @Html.TextBox("application", null, new { @class = "form-control", @id = "application", @placeholder = "application" })
        </div>

        <div class="col-md-2">
            @Html.TextBox("startDate", null, new { @class = "form-control", @id = "startDate", @placeholder = "Star date" })
        </div>

        <div class="col-md-2">
            @Html.TextBox("endDate", null, new { @class = "form-control", @id = "endDate", @placeholder = "End date" })
        </div>

        <div class="col-md-2">
            @Html.TextBox("data", null, new { @class = "form-control", @id = "data", @placeholder = "Data" })
        </div>

        <div class="col-md-2">
            @Html.TextBox("logName", null, new { @class = "form-control", @id = "logname", @placeholder = "File Name" })
        </div>

        <div class="col-md-2">
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>Submit
            </button>
        </div>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Line)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Host)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Line)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Host)
                </td>
            </tr>
        }
    </tbody>
